.main-banner{

    background: url('../../../assets/banner.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    z-index: 1;
}

.main-banner::after{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:rgb(0 0 0 / 73%);
    z-index: -1;
}